.rabbit{
    display: flex;
    justify-content: space-between;
}
.enter{
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    background-color: purple;
    color: white;
    height: 50px;
    width: 15%;
    gap: 20px;
    line-height: 50px;
    border-radius: 3px;
    border: 1px solid black;
}
.hgiang{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    border: 1px solid whitesmoke;
    color: white;
    gap: 20px;
}
.dmanh{
    background-color: purple;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-radius: 3px;
}
